.col-button-colors .btn,
.col-button-icons .btn {
    min-width: 100px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.col-button-sizes .btn {
    margin-bottom: 10px;
}

.col-button-dropdowns .btn-group {
    margin-right: 5px;
    margin-bottom: 10px;
}

.col-button-toggle .iriy-example {
    margin-top: 10px;
}

.btn-block + .btn-block {
    margin-top: 8px;
}

.tooltips-popovers-examples .btn {
    margin-right: 5px;
    margin-bottom: 10px;
}

.progress-examples .progress {
    margin-bottom: 22px;
}

.the-icon-list .the-icon-hover a {
    border-radius: 4px;
    color: #555;
    display: block;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
    text-decoration: none;
    cursor: pointer;
}

.the-icon-list .the-icon-hover a:hover {
    color: #000;
}

.the-icon-list .the-icon-hover a:hover .text-muted {
    color: #666;
}

.the-icon-list .the-icon-hover a .fa,
.the-icon-list .the-icon-hover a .gi {
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
    text-align: right;
    width: 32px;
}

.the-icon-list .the-icon-hover a:hover .fa {
    font-size: 28px;
    vertical-align: -6px;
}

.the-icon-list .the-icon-hover a:hover .gi {
    font-size: 28px;
    vertical-align: -7px;
}

.knob-examples {
    margin-bottom: 20px;
}

.mini-chart-examples .mini-chart {
    margin-bottom: 15px;
}

.mini-chart-examples .mini-chart .chart {
    width: 50px;
    text-align: center;
}

.mini-chart-examples .mini-chart .chart-details {
    width: 90px
}


#upload-file-selector {
    display:none;   
}
.margin-correction {
    margin-right: 4px;   
}

@media (max-width: 840px) {
    #navbar-buy-theme {
        display: none;
    }
}