/*span.imgowe{*/
    /*background: url(../images/sprite-v10.png) top left no-repeat;*/
    /*display: inline-block;*/
    /*width: 100%;*/
    /*height: 60px;*/
/*}*/


#profile
{
    /*width:100%;*/
    /*float:left;*/
    /*padding-left: 3%;*/
}

.wrapper #container .rightNav .primaryDetails form .userOptions{
    margin:5px 0 25px;
}

ul{
    margin: 0;
    padding: 0;
}
ul, menu, dir {

}
.userOptions{margin:5px 0 25px}
.userOptions li{width:30%;display:inline-block}

.labels{height:32px}
.wrapper #container .rightNav
{
    position: relative;
    border: 1px solid #ccc;
    border-left: none;
    color: #666;
    background: url(/images/angloader.gif) center center no-repeat #fff;


}

.wrapper #container .rightNav .main.primaryDetails{
    height: calc(100% - 34px);

}

.wrapper #container .rightNav .locationSection .block .cInput input,.wrapper #container .rightNav .locationSection .block .cInput select{background-color:transparent}


.cInput i{top:36px}

.cInput i,.date-picker [date-picker] table tr th:last-of-type{text-align:right}


.wrapper #container .rightNav{
    position: relative;
    border: 1px solid #ccc;
    border-left: none;
    color: #666;
    background: url(/images/angloader.gif) center center no-repeat #fff;
}

.main
{
    padding: 2%;
    border: 1px solid;
    width:70%;
    ont-family: sans-serif;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    height:400px;
    /*font: 12px 'Open Sans',Arial;
    margin: 0;
    padding: 0;
    background: #eaedf1;*/
    letter-spacing: .25px;

}

.wrapper #container .rightNav .primaryDetails form .userOptions
{
    margin: 5px 0 25px
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.cSelect .makeSelect select{
width:50%;
border: none;
background-color: #fff;
color: #666;
padding: 3px 15px 5px 0;
margin-top: 7px;
font-size: 15px;
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAICAYAAAAm06XyAAAACXBIW…cAbBpBgBHkcXy2QIUwNOLUjGYAAzaNeDUjGcCATSMIAAQYANc9Yqz+zI3fAAAAAElFTkSuQmCC);
background-position: center right;
background-repeat: no-repeat;
cursor: pointer;
}

.labels {
    height: 32px;
}
.cInput {
    margin-bottom: 30px;
    position: relative;
    color: #999;
}




select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, select, textarea {
    -webkit-appearance: none;
}

button, input, select, textarea {
    margin: 0;
    font-size: 50%;
    vertical-align: middle;
}

select:not(:-internal-list-box) {
    overflow: visible !important;
}

select {
    border-radius: 0px;
    border-color: rgb(169, 169, 169);
}

select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
}

select {
    border-radius: 5px;
}

input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}

input, textarea, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}

.cInput {
    margin-bottom: 30px;
    position: relative;
    color: #999;
}
.wrapper #container .rightNav {
    position: relative;
    border: 1px solid #ccc;
    border-left: none;
    color: #666;
    background: url(/images/angloader.gif) center center no-repeat #fff;
}


.select_input{
    width:100%;
    /*height:60%*/
}

.select_type{
    text-align: center;
    background: #fff;
    /*border: 1px solid #eaeaea;*/
    /*padding: 25px 20px;*/
    padding:10px 5px;
    margin: 15px 0 30px;
    border-radius: 2px;

}

.row_select
{
    border: 1px solid #eaeaea;
    margin:0%;
}
.label_font
{
    font-size: 17px;
    font-weight: normal !important;
    /*padding-left: 15px;*/
    /*padding-top: 20px;*/
}

.text_input
{
    height: 60%;
}

.label_style
{
    /*padding-left: 15px;*/
    padding-top: 15px;
}

/* -------------------start styling of map display----------------- */
#map {
    /*height: 5%;*/
    /*position:  unset !important;*/
    /*position: absolute !important;*/
    /*z-index: 99;*/
    /*width:20%;*/
    /*overflow: hidden !important;*/
    position: absolute;
    overflow: hidden;
    /*width: 94%;*/
    /*height: 187px;*/

}


#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 200px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}
#target {
    width: 345px;
}

/*-------------end styling of map display ----------------------- */


.map_outer_div
{
    height:205px;
    width:362px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/*--------style for popup---------------------- */

.uxicon {
    display: inline-block;
    font-family: uxfont!important;
    font-variant: normal;
    line-height: 1;
    speak: none;
}
[role=button], a, area, button, input, label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.uxicon, .uxicon:hover {
    text-decoration: none;
}

.uxicon, label {
    font-weight: 400;
}

.uxicon, address {
    font-style: normal;
}

.uxicon, img {
    vertical-align: middle;
}

.card-title, .uxicon, button, select {
    text-transform: none;
}

.collapsing, .ux-pagetitle-show-icn, .uxicon, sub, sup {
    position: relative;
}

[role=button], [type=button], [type=reset], [type=submit], button {
    cursor: pointer;
}
/* 88---------------------- */
#property_type_popup
{
    /*top:44%;*/
    /*right:70%;*/
    /*left:30%;*/
    /*outline: none;*/
}
#inner_div_of_prop_popup
{
    top: 20%;
    left: 14%
}

/*------------------------------ */

