*{margin:0;padding:0;border:none;}
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video,main{display:block}
a{background: transparent;border: 0 none;font-weight: inherit;margin: 0;padding: 0;border: 0;outline: 0;vertical-align: top;}a{text-decoration:none;outline: none !important;}b, strong{}ul,ol{list-style: none;}q {quotes: none;}table, table td { padding:0;border:none;border-collapse:collapse;}img{vertical-align:top; max-width:100%;}embed{ vertical-align:top;}input,textarea{font-family:inherit;}input,button{outline: none;background:transparent;}button::-moz-focus-inner{border:0;}th{text-align:left;}textarea{outline:none !important;}.clearfix::after{content:""; display: block; clear:both;}button{cursor: pointer;}#_atssh{display: none !important;}