.dd-list-menu {
    position: absolute;
    top: 100%;
    margin-top: 0;
    border: 1px #ccc solid;
    box-shadow: 0 4px 5px 1px rgba(0,0,0,.1);
    background: #fff;
    padding: 5px 0;
    text-align: left;
    left: 0;
    overflow: hidden;
}
.dd-list-menu a, .dd-list-menu a:hover {
    color: #333;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    display: block;
    line-height: 22px;
    padding: 0 5px;
    cursor: pointer;
}
.DynHyt2 {
    height: 250px!important;
}
.boxSize * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a, div, em, i, span {
    outline: 0;
}

/** {
    font-family: 'Open Sans',Arial,Helvetica,sans-serif!important;
}*/

.dd-list-menu a:hover, .homePageCtrl .dd-list-menu a {
    font-size: 13px;
}

.dd-list-menu .child a {
    font-weight: 400;
}

.dd-list-menu a, .dd-list-menu a:hover {
    color: #333;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    display: block;
    line-height: 22px;
    padding: 0 5px;
    cursor: pointer;
}

.boxSize, .boxSize * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a, div, em, i, span {
    outline: 0;
}

a, a:link {
    text-decoration: none;
}


/** {
    font-family: 'Open Sans',Arial,Helvetica,sans-serif!important;
}*/

#searchBg .checked, #srpSearchHeader .checked {
    background-position: 0 0;
}

#searchBg .checked, #searchBg .unchecked, #srpSearchHeader .checked, #srpSearchHeader .unchecked {
    display: inline-block;
    background-position: -12px 0;
    width: 11px;
    height: 11px;
    margin-right: 4px;
}

.boxSize, .boxSize * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#headerCarousel .slick-slider button, .iconS {
    background-image: url(../images/dif-sprite-new-v15.png);
}

em, i {
    display: inline-block;
    font-style: normal;
}

a, div, em, i, span {
    outline: 0;
}

em, i {
    display: inline-block;
    font-style: normal;
}



/** {
    font-family: 'Open Sans',Arial,Helvetica,sans-serif!important;
}*/
user agent stylesheet
i, cite, em, var, address, dfn {
    font-style: italic;
}
Inherited from a.DCpropTypOpt.DCchildOpt

.dd-list-menu a:hover, .homePageCtrl .dd-list-menu a {
    font-size: 13px;
}

.dd-list-menu .child a {
    font-weight: 400;
}

.dd-list-menu a, .dd-list-menu a:hover {
    color: #333;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    display: block;
    line-height: 22px;
    padding: 0 5px;
    cursor: pointer;
}


/** {
    font-family: 'Open Sans',Arial,Helvetica,sans-serif!important;
}*/
.dd-list-menu .child {
    color: #333;
    font-size: 13px;
    display: block;
    margin: 0 0 0 20px;
}

.dd-list-menu .child a {
    font-weight: 400;
}
 div#s_property_type{
    overflow-y: scroll;
}