@charset "utf-8";
/* CSS Document */

/* YOUR CUSTOM STYLES */
body {	
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size:11px;
}

/* Standard Styles Starts */
a { color: #2259b5; 
    text-decoration: none;
    -webkit-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    -moz-transition:all 200ms ease-in;
}
a:hover, 
a:focus {
    color: #f00f00;
    text-decoration:none;
}
a:focus { outline: none; }

hr{ width:100%; background:#c3c5c7; height:1px; border:0px; float:left;}

h1{ font-size:28px; color:#000000; font-weight:500;}
h2{ font-size:24px; color:#000000; font-weight:400;}
h3{ font-size:20px; color:#000000; font-weight:300;}
h4{ font-size:16px; color:#000000; font-weight:300;}
h5{ font-size:14px; color:#000000; line-height:22px;}
h6{ font-size:12px; color:#000000; line-height:22px; }


/* SCROLL */
::-webkit-scrollbar {
    width: 8px;
}
/* Track */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/* Handle */

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background:#da4936;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background:#000;
}


/* Top Header */
#top-header{ background:#3c3c3c; padding-bottom:0px;}
#top-header h6{ font-size:12px; color:#FFF; font-weight:400;}
#top-header h6 a{ color:#fff;}
#top-header h6 a:hover{ color:#f00;}


/* Navigation */
#navigation{ padding-top:30px; padding-bottom:0px;}

.fa-search{ font-size:14px !important; color:#888888;}
.btn-default{ background:none; border:solid 1px #efefef; color:#000; box-shadow:none; margin-bottom:0px;}
.btn-default:hover, .btn-default:focus{ background:none !important; box-shadow:none; color:#000 !important;}
.btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default{ background:#2aa3f0 !important; box-shadow:none; color:#FFF !important; }
.btn-mob-set{ display:none;}
.dropdown-menu{ height:130px; overflow:auto; margin-left:10px; padding-top:0px; margin-top:0px; min-width:180px; box-shadow:none;}
.dropdown-menu li > a, .dropdown-menu li > span{ color:#000; font-size:14px; padding:5px 10px;}

.btn-primary{ background:#2aa3f0; border:solid 1px #efefef; color:#fff; box-shadow:none; margin-bottom:0px; padding-top:7px; }
.btn-primary:hover, .btn-primary:focus{ background:#1887cd; box-shadow:none; border:none; border:solid 1px #efefef;}
.btn-primary.search1{ background:#2aa3f0; border:solid 1px #efefef; color:#fff; box-shadow:none; margin:0px; }

input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search-md], textarea.materialize-textarea{ padding-left:10px !important; border:solid 1px #efefef; margin-top:11px; height:41px; }

input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search-md], textarea.materialize-textarea .search-input{ border:solid 1px #efefef; }
.testing input[type=text]{ margin:0px !important;}
.search-select{ border:solid 1px #efefef; border-radius:0px;}




/* Top Banner */
#top-banner{ background:#f0f0f0; border:1px solid #e4e4e4;}

.right-border{ border-right:solid 1px #cccccc; }
.right-border2{ border-left:solid 1px #ffffff; }

.left-border{ border-left:solid 1px #cccccc; }
.left-border2{ border-left:solid 1px #ffffff; }

.icon-box{
    padding: 25px;
    padding-right: 0;
    color: #575757;
    font-size:18px;
    font-weight:500;
    line-height:18px;
}

.icon-box .glyphicon--banners{
    display: block;
    font-size: 40px;
    float: left;
    margin: 0 20px 0 0;
}

.icon-box .banners__title{ font-size:14px; color:#575757; display: block; font-weight:400;}

/* Banner */
#banner{ padding:20px; background:url(../img/banner-bg.jpg);}

.nav-pills{ overflow:auto; max-height:375px !important; font-size:14px; background:#fff; font-weight:400; }
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #428bca;
    border-bottom:1px solid #e5e5e5;
}
.nav-pills>li>a {
    border-radius: 0px; color:#000; }
.nav-pills>li>a:hover{
    color:#fff;
    background:#3c3c3c;
}
.nav-stacked>li {
    margin-top: 0px;
    margin-left: 0;
    border-top:1px solid #e5e5e5;
    border-left:1px solid #e5e5e5;
    border-right:1px solid #e5e5e5;
    line-height:24px;
}
.active2 { border-right:4px solid #428bca;}

.top-title{background:#40acf2; border-top:solid 1px #e5e5e5; border-left:solid 1px #e5e5e5; border-right:solid 1px #e5e5e5;}
.top-title h4{ color:#fff; font-weight:500; padding-left:13px;}

.z-depth-2{ box-shadow:none;}
.carousel-control.right{ background-image:none;}
.carousel-control.left{ background-image:none;}

.new-control .fa{ width:30px; height:30px;}
.fa-angle-right{ font-size:24px !important;}
.fa-angle-left{ font-size:24px !important;}

.carousel .carousel-indicators li{ width:10px; height:10px;}
.carousel .carousel-indicators .active{ width:10px; height:10px;}

/* Middle Box */
#middle-box{ border:1px solid #d9d9d9; }

.box-mn{ background:#fff;}

.box-1{ border-left:solid 1px #d9d9d9;}
.box-1 h2{ font-weight:300; color:#40acf2; margin:5px;}
.fa-search.new{ font-size:60px !important; color:#40acf2; padding-top:20px;}

.box-2{ border-left:solid 1px #d9d9d9;}
.box-2 h2{ font-weight:300; color:#40acf2; margin:5px;}
.fa-cart-plus.new{ font-size:60px !important; color:#40acf2; padding-top:20px;}

.box-3{ border-left:solid 1px #d9d9d9; border-right:solid 1px #d9d9d9;}
.box-3 h2{ font-weight:300; color:#40acf2; margin:5px;}
.fa-thumbs-o-up.new{ font-size:60px !important; color:#40acf2; padding-top:20px;}


/* Featured Product */
#featured-product{ padding:30px;}
#featured-product .set-bg-clr h3{ background:#fff; padding-right:20px; display: inline-block;}
.title{ background:url(../img/divider.jpg) no-repeat right;}

.card{ border:solid 1px #d9d9d9; border-radius:0px; }
.card .card-btn{ margin:0px; padding-top:0px; border-top:solid 1px #d9d9d9; }
.card .card-content{ padding:0px; border-top:solid 1px #d9d9d9;}
.card .card-content h3 a{ font-size:18px; color:#008ad9; font-weight:400; padding-top:0px;}
.card .card-content h3 a:hover{ color:#000;}
.card .card-content h5{ color:#060; border-bottom:none; line-height:0px; font-weight:400; }

.text-danger{ color:#d60404 !important;}
.text-success{ color:#139402 !important;}

.card .card-content h4{ font-weight:600; }
.card .card-content h3{ margin-bottom:0px; 	}
.z-depth-1, .btn, .btn-floating, .card-panel, .card, .dropdown-content, .dropdown-menu{ box-shadow:none;}

.btn-floating.btn-small{ width:30px; height:30px;}
.btn-floating i{ line-height:20px;}
.btn-floating{ margin:0px; margin-bottom:10px !important;}

.item-card{ margin-bottom:20px;}

/* Zoom Product */
.zoom-img {
    position: relative;
    overflow: hidden;
}
.zoom-img img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.zoom-img:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor:pointer;
}


/* Latest Product */
#latest-product{}
#latest-product .set-bg-clr h3{ background:#fff; padding-right:20px; display: inline-block;}


/* Brands */
#pop-brands{ min-height:365px; background:url(../img/pop-brands.jpg) no-repeat center; margin-top:40px; }
#pop-brands h3{ padding-top:60px;}
.pop-brands-mb-set{ margin-bottom:10px;}


/* Our Clients */
#clients{ padding-top:20px; padding-bottom:30px;}
#clients .set-bg-clr h3{ background:#fff; padding-right:20px; display: inline-block;}
.title2{ background:url(../img/divider.jpg) no-repeat right;}
.clients-mb-set{ margin-bottom:10px;}

/* Footer */
#footer{ min-height:325px; background:url(../img/footer-bg.jpg) no-repeat center #0f0f0f; background-size:cover;}
#footer h5{ padding-top:30px; font-weight:500;}
#footer ul li a{ color:#fff; line-height:22px; font-size:13px;}
#footer ul li a:hover{ color:#09F; }

/* Bottom Footer */
#btm-footer{ padding:10px; background:#2b2b2b;}
#btm-footer h6{ color:#5b5b5b;}


/* Listing Product */
.breadcrumb{ background:none !important; padding-left:0px; margin-bottom:0px;}

/* Product Details */
#product-details h2{ margin:0px;}
.owl-carousel .owl-stage-outer{ border:solid 1px #efefef;}
.btn-success{ background:#093;}

.bordered-box{ border: solid 1px #efefef;}
#product-details h4{ padding-left:10px;}

/* VERY IMP- IMG SET For DIV ###################################################### */
.set-img-imp {
    width: 250px;
    height: 250px !important;
    object-fit: contain;
}
.set-img-imp-details {
    width: 800px;
    height: 600px !important;
    object-fit: contain;
}		
/* VERY IMP- IMG SET For DIV ###################################################### */	


/* Static Navigation */
#new-nav{ padding:0px; margin:0px;}
.navbar1{ padding-bottom:0px; margin-bottom:0px; font-size:12px; font-weight:400;}
.navbar1 .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus{ color:#000;}

.navbar1 .navbar-nav > li > a{ color:#000; }	
.nav>li>a{ padding:8px 18px !important;}

.navbar1 .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    background-color:#2aa3f0!important;
}
.navbar1navbar1 .navbar-toggle:hover, .navbar .navbar-toggle:focus{ background:#333;}
.navbar .navbar-toggle{ background:#333;}

/* FAQ page */
.panel-group{ box-shadow:none !important;}	


/*// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 


    /* YOUR CUSTOM STYLES */
    body {	
        color: black;
        font-family: 'Roboto', sans-serif;
        font-size:11px;
    }

    /* Standard Styles Starts */
    a { color: #2259b5; 
        text-decoration: none;
        -webkit-transition:all 200ms ease-in;
        -o-transition:all 200ms ease-in;
        -moz-transition:all 200ms ease-in;
    }
    a:hover, 
    a:focus {
        color: #f00f00;
        text-decoration:none;
    }
    a:focus { outline: none; }

    hr{ width:100%; background:#c3c5c7; height:1px; border:0px; float:left;}

    h1{ font-size:28px; color:#000000; font-weight:500;}
    h2{ font-size:24px; color:#000000; font-weight:400;}
    h3{ font-size:20px; color:#000000; font-weight:300;}
    h4{ font-size:16px; color:#000000; font-weight:300;}
    h5{ font-size:14px; color:#000000; line-height:22px;}
    h6{ font-size:12px; color:#000000; line-height:22px; }


    /* SCROLL */
    ::-webkit-scrollbar {
        width: 8px;
    }
    /* Track */

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    /* Handle */

    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background:#da4936;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }

    ::-webkit-scrollbar-thumb:window-inactive {
        background:#000;
    }


    /* Top Header */
    #top-header{ background:#3c3c3c; padding-bottom:0px;}
    #top-header h6{ font-size:12px; color:#FFF; font-weight:400;}
    #top-header h6 a{ color:#fff;}
    #top-header h6 a:hover{ color:#f00;}


    /* Navigation */
    #navigation{ padding-top:30px; padding-bottom:0px;}

    .fa-search{ font-size:14px !important; color:#888888;}
    .btn-default{ background:none; border:solid 1px #efefef; color:#000; box-shadow:none; margin-bottom:0px;}
    .btn-default:hover, .btn-default:focus{ background:none !important; box-shadow:none; color:#000 !important;}
    .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default{ background:#2aa3f0 !important; box-shadow:none; color:#FFF !important; }

    .dropdown-menu{ height:130px; overflow:auto; margin-left:10px; padding-top:0px; margin-top:0px; min-width:180px; box-shadow:none;}
    .dropdown-menu li > a, .dropdown-menu li > span{ color:#000; font-size:14px; padding:5px 10px;}

    .btn-primary{ background:#2aa3f0; border:solid 1px #efefef; color:#fff; box-shadow:none; margin-bottom:0px; padding-top:7px; }
    .btn-primary:hover, .btn-primary:focus{ background:#1887cd; box-shadow:none; border:none; border:solid 1px #efefef;}
    .btn-primary.search1{ background:#2aa3f0; border:solid 1px #efefef; color:#fff; box-shadow:none; margin:0px; padding-top:5px; }

    .btn-mob-set{ display:block;}		

    input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search-md], textarea.materialize-textarea { padding-left:10px !important; border:solid 1px #efefef; margin-top:0px; height:41px; }

    input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search-md], textarea.materialize-textarea .search-input{ padding-left:10px !important; border:solid 1px #efefef; }

    .testing input[type=text]{ margin:0px !important;}


    /* Top Banner */
    #top-banner{ background:#f0f0f0; border:1px solid #e4e4e4;}

    .right-border{ border-right:solid 1px #cccccc; }
    .right-border2{ border-left:solid 1px #ffffff; }

    .left-border{ border-left:solid 1px #cccccc; }
    .left-border2{ border-left:solid 1px #ffffff; }

    .icon-box{
        padding: 25px;
        padding-right: 0;
        color: #575757;
        font-size:18px;
        font-weight:500;
        line-height:18px;
    }

    .icon-box .glyphicon--banners{
        display: block;
        font-size: 40px;
        float: left;
        margin: 0 20px 0 0;
    }

    .icon-box .banners__title{ font-size:14px; color:#575757; display: block; font-weight:400;}

    /* Banner */
    #banner{ padding:20px; background:url(../img/banner-bg.jpg);}

    .nav-pills{ overflow:auto; max-height:375px !important; font-size:14px; background:#fff; font-weight:400; }
    .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
        color: #fff;
        background-color: #428bca;
        border-bottom:1px solid #e5e5e5;
    }
    .nav-pills>li>a {
        border-radius: 0px; color:#000; }
    .nav-pills>li>a:hover{
        color:#fff;
        background:#3c3c3c;
    }
    .nav-stacked>li {
        margin-top: 0px;
        margin-left: 0;
        border-top:1px solid #e5e5e5;
        border-left:1px solid #e5e5e5;
        border-right:1px solid #e5e5e5;
        line-height:24px;
    }
    .active2 { border-right:4px solid #428bca;}

    .top-title{background:#40acf2; border-top:solid 1px #e5e5e5; border-left:solid 1px #e5e5e5; border-right:solid 1px #e5e5e5;}
    .top-title h4{ color:#fff; font-weight:500; padding-left:13px;}

    .z-depth-2{ box-shadow:none;}
    .carousel-control.right{ background-image:none;}
    .carousel-control.left{ background-image:none;}

    .new-control .fa{ width:30px; height:30px;}
    .fa-angle-right{ font-size:24px !important;}
    .fa-angle-left{ font-size:24px !important;}

    .carousel .carousel-indicators li{ width:10px; height:10px;}
    .carousel .carousel-indicators .active{ width:10px; height:10px;}

    /* Middle Box */
    #middle-box{ border:1px solid #d9d9d9; }

    .box-mn{ background:#fff;}

    .box-1{ border-left:solid 1px #d9d9d9;}
    .box-1 h2{ font-weight:300; color:#40acf2; margin:5px;}
    .fa-search.new{ font-size:60px !important; color:#40acf2; padding-top:20px;}

    .box-2{ border-left:solid 1px #d9d9d9;}
    .box-2 h2{ font-weight:300; color:#40acf2; margin:5px;}
    .fa-cart-plus.new{ font-size:60px !important; color:#40acf2; padding-top:20px;}

    .box-3{ border-left:solid 1px #d9d9d9; border-right:solid 1px #d9d9d9;}
    .box-3 h2{ font-weight:300; color:#40acf2; margin:5px;}
    .fa-thumbs-o-up.new{ font-size:60px !important; color:#40acf2; padding-top:20px;}


    /* Featured Product */
    #featured-product{ padding:30px;}
    #featured-product .set-bg-clr h3{ background:#fff; padding-right:20px; display: inline-block;}
    .title{ background:url(../img/divider.jpg) no-repeat right;}

    .card{ border:solid 1px #d9d9d9; border-radius:0px; }
    .card .card-btn{ margin:0px; padding-top:0px; border-top:solid 1px #d9d9d9; }
    .card .card-content{ padding:0px; border-top:solid 1px #d9d9d9;}
    .card .card-content h3 a{ font-size:18px; color:#008ad9; font-weight:400; padding-top:0px;}
    .card .card-content h3 a:hover{ color:#000;}
    .card .card-content h5{ color:#060; border-bottom:none; line-height:0px; font-weight:400; }

    .text-danger{ color:#d60404 !important;}
    .text-success{ color:#139402 !important;}

    .card .card-content h4{ font-weight:600; }
    .card .card-content h3{ margin-bottom:0px; 	}
    .z-depth-1, .btn, .btn-floating, .card-panel, .card, .dropdown-content, .dropdown-menu{ box-shadow:none;}

    .btn-floating.btn-small{ width:30px; height:30px;}
    .btn-floating i{ line-height:20px;}
    .btn-floating{ margin:0px; margin-bottom:10px !important;}
    .item-card{ margin-bottom:0px;}

    /* Zoom Product */
    .zoom-img {
        position: relative;
        overflow: hidden;
    }
    .zoom-img img {
        max-width: 100%;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    .zoom-img:hover img {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        cursor:pointer;
    }


    /* Latest Product */
    #latest-product{}
    #latest-product .set-bg-clr h3{ background:#fff; padding-right:20px; display: inline-block;}


    /* Brands */
    #pop-brands{ min-height:365px; background:url(../img/pop-brands.jpg) no-repeat center; margin-top:40px; }
    #pop-brands h3{ padding-top:60px;}
    .pop-brands-mb-set{ margin-bottom:0px;}


    /* Our Clients */
    #clients{ padding-top:20px; padding-bottom:30px;}
    #clients .set-bg-clr h3{ background:#fff; padding-right:20px; display: inline-block;}
    .title2{ background:url(../img/divider.jpg) no-repeat right;}
    .clients-mb-set{ margin-bottom:0px;}		

    /* Footer */
    #footer{ min-height:325px; background:url(../img/footer-bg.jpg) no-repeat center #0f0f0f; background-size:cover;}
    #footer h5{ padding-top:30px; font-weight:500;}
    #footer ul li a{ color:#fff; line-height:22px; font-size:13px;}
    #footer ul li a:hover{ color:#09F; }

    /* Bottom Footer */
    #btm-footer{ padding:10px; background:#2b2b2b;}
    #btm-footer h6{ color:#5b5b5b;}


    /* Listing Product */
    .breadcrumb{ background:none !important; padding-left:0px; margin-bottom:0px;font-size: 14px;}

    /* Product Details */
    #product-details h2{ margin:0px;}
    .owl-carousel .owl-stage-outer{ border:solid 1px #efefef;}
    .btn-success{ background:#093;}

    .bordered-box{ border: solid 1px #efefef;}
    #product-details h4{ padding-left:10px;}


    /* User Profile */	
    .form-control{ border-radius:0px; padding:6px 12px; height:42px; box-shadow:none; -webkit-box-shadow:none; -webkit-transition:none; border:solid 1px #efefef;}


    /* VERY IMP- IMG SET For DIV ###################################################### */
    .set-img-imp {
        width: 250px;
        height: 250px !important;
        object-fit: contain;
    }
    .set-img-imp-details {
        width: 800px;
        height: 600px !important;
        object-fit: contain;
    }		
    /* VERY IMP- IMG SET For DIV ###################################################### */	



    /* Static Navigation */
    #new-nav{ padding:0px; margin:0px;}
    .navbar{ padding-bottom:0px; margin-bottom:0px; font-size:12px; font-weight:400;}
    .navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus{ color:#000;}

    .navbar .navbar-nav > li > a{ color:white; }	
    .nav>li>a{ padding:8px 18px !important;}

    .navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
        background-color:#2aa3f0!important;
    }

    /* FAQ page */
    .panel-group{ box-shadow:none !important;}				

}




/* SHOPPING CART */	
.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
        width:20%;
        display: inline !important;
    }
    .actions .btn{
        width:36%;
        margin:1.5em 0;
    }

    .actions .btn-info{
        float:left;
    }
    .actions .btn-danger{
        float:right;
    }

    table#cart thead { display: none; }
    table#cart tbody td { display: block; padding: .6rem; min-width:320px; text-align:center; font-size:16px;}
    table#cart tbody tr td:first-child { color: #fff;}
    table#cart tbody td:before {
        content: attr(data-th); 
        display: inline-block; width: 8rem;
    }



    table#cart tfoot td{display:block; }
    table#cart tfoot td .btn{display:block; }

} 	

body { font-family:sans-serif; }
table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
div#mail { width:70%; margin:20px auto; }
.mailinbox tbody tr td { background: #fafafa; }
.mailinbox tbody tr.unread td { background: #fff; font-weight: bold;font-size: 17px; }
.mailinbox tbody tr.selected td { background:#FFFFD2; }
.mailinbox thead th, .mailinbox tfoot th { border: 1px solid #ccc; border-right: 0; }
.mailinbox tfoot th { border-bottom: 1px solid #ccc !important; }
.mailinbox a.title { font-weight: normal; text-decoration:none; }
.mailinbox tbody tr.unread a.title { font-weight: bold; }
.mailinbox td.star, .mailinbox td.attachment { text-align: center; }
.msgstar { 
    display: inline-block; width: 16px; height: 16px; background: url(../images/unstar.png) no-repeat 0 0; 
    cursor: pointer; opacity: 0.5; 
}
.msgstar:hover { opacity: 1; }
.starred { background-image: url(../images/star.png); opacity: 1; }



.table-bordered caption + thead tr:first-child th:first-child, .table-bordered caption + tbody tr:first-child td:first-child, .table-bordered colgroup + thead tr:first-child th:first-child, .table-bordered colgroup + tbody tr:first-child td:first-child { border-top-left-radius: 0; }

.table-bordered caption + thead tr:first-child th:last-child, .table-bordered caption + tbody tr:first-child td:last-child, .table-bordered colgroup + thead tr:first-child th:last-child, .table-bordered colgroup + tbody tr:first-child td:last-child { border-top-right-radius: 0; }

.table-bordered thead:first-child tr:first-child th:first-child, 
.table-bordered tbody:first-child tr:first-child td:first-child,
.table-bordered thead:first-child tr:first-child th:last-child, 
.table-bordered tbody:first-child tr:first-child td:last-child,
.table-bordered thead:last-child tr:last-child th:first-child, 
.table-bordered tbody:last-child tr:last-child td:first-child, 
.table-bordered tfoot:last-child tr:last-child td:first-child { -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }


.table { margin-bottom: 0; width:100%; font-size:14px }
.table th { background: #fcfcfc; }
.table tfoot th { border-bottom: 1px solid #ddd; }
.table th.aligncenter, .table td.aligncenter { text-align: center; }
.table tr { padding:5px; height:28px}
table td.center, table th.center { text-align: center; }

.clearall { clear: both; }

.mailinbox thead th, .mailinbox tfoot th {
    background: rgb(237,237,237);
    background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(222,222,222,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(100%,rgba(222,222,222,1)));
    background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(222,222,222,1) 100%);
    background: -o-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(222,222,222,1) 100%);
    background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(222,222,222,1) 100%);
    background: linear-gradient(to bottom, rgba(237,237,237,1) 0%,rgba(222,222,222,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 );
}
#note_div{
    display: inline-block;
     padding-top:5%;
     padding-left: 5%;
     border-radius: 3px;

 }
 #note_div > p{
     font-size: small;
 }

 #clockdiv{
     color: #fff;
     display: inline-block;
     font-weight: 400;
     text-align: center;
     font-size: 26px;
 }

 #clockdiv > div{
     padding: 8px;
     border-radius: 3px;
     background: #d23b00;
     display: inline-block;
 }

 #clockdiv div > span{
     padding: 10px;
     border-radius: 3px;
     background: #9c2c00;
     display: inline-block;
     font-weight:400;
 }

 .smalltext{
     padding-top: 5px;
     font-size: 14px;
 }
 #captcha_div{
     margin-top: 20px;
 }

.error {
    color: red;
}
label.control-label{
    font-size: 15px;
}

.white-text{
    color: white;
}
.pdFactHead{
    color: black;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
}

.pdMainFacts.type2 td {
    background-color: #FAFBFC;
    padding: 10px 30px 14px;
    vertical-align: top;
    width: 50%;
}

span.areaType{
 font-family: 'Open Sans',Arial,Helvetica,sans-serif!important;
    font-size: 17px;
    /* color: #9396ab; */
    font-style: initial;
    text-transform: capitalize;
}

table tr.separator { height: 50px; background-color: white;}

/*.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;  Safari 
  animation: spin 2s linear infinite;
}

 Safari 
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}*/

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/806.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}

.text {
  display: block;
  width: 230px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase
}


    .ui-menu {  
        list-style:none;  
        padding: 2px;  
        margin: 0;  
        display:block;  
        height: 200px;
        overflow-y: scroll;
    }  
    .ui-menu .ui-menu {  
        margin-top: -3px;  
    }  
    .ui-menu .ui-menu-item {  
        margin:0;  
        padding: 0;  
        zoom: 1;  
        float: left;  
        clear: left;  
        width: 100%;  
        font-size:80%;  
    }  
    .ui-menu .ui-menu-item a {  
        text-decoration:none;  
        display:block;  
        padding:.2em .4em;  
        line-height:1.5;  
        zoom:1;  
        font-size: 15px;
    }  
    .ui-menu .ui-menu-item a.ui-state-hover,  
    .ui-menu .ui-menu-item a.ui-state-active {  
        font-weight: normal;  
        margin: -1px;  
    }  