


button {
	border: none;
	background: #25b2b4;
	color: #fff;
	font-family:'Open Sans', sans-serif;
	letter-spacing: 1px;
	cursor: pointer;
	display: inline-block;
}

button:hover {
	background: #353635;
	  transition: all 0.5s ease;
}

.md-close{ width:40%; background:#146ea7; font-size:14px !important; font-weight:600; padding:10px;}
.md-close:hover{ background:#353635;}

.md-view_cart{ width:40%; background:#146ea7; font-size:14px !important; padding:10px; font-weight:600; margin-bottom:5px !important;}
.md-view_cart:hover{ background:#353635;}

.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}

	

/* Content styles */
.md-content {
	color: #fff;
	background:#2aa3f0;
	position: relative;
	border-radius: 0px;
	margin: 0 auto;
	border:solid 1px #fff;
}

.md-content h3 {
	margin: 0;
	padding: 15px;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	border-bottom:solid 1px #FFFFFF;
	color:#FFF;
	/*background: rgba(0,0,0,0.1);*/
	background:#353635;
	border-radius: 0px 0px 0 0;
}

.md-content h5 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 16px;
	font-weight:600;
	color:#FFF;
	/*background: rgba(0,0,0,0.1);*/
	border-radius: 0px 0px 0 0;
}

.md-content > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.md-content > div p {
	margin: 0;
	padding: 10px 0;
}

.md-content > div ul {
	margin: 0;
	padding: 0 0 30px 20px;
}

.md-content > div ul li {
	padding: 5px 0;
}

.md-content button {
	display: block;
	margin: 0 auto;
	font-size: 0.8em;
}

/* Individual modal styles with animations/transitions */
